@import "./_variables.scss";

@mixin animation_props($animation_name) {
  animation-name: $animation_name;
  animation-duration: $time;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: $curve;
}

@mixin element_props($width, $height, $bg_color) {
  justify-self: center;
  width: $width;
  height: $height;
  background: $bg_color;
  border-radius: $element_radius;
}

body {
  display: grid;
  place-items: center center;
  height: 100vh;
}

.cica {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 28em;
  width: 30em;
  height: 30em;
}

.ball {
  @include animation_props(bounce);
  @include element_props(5em, 5em, #ff502f);

  z-index: 1;
  align-self: end;
}

.shadow {
  @include animation_props(shadow);
  @include element_props(4em, 1em, transparent);
}

@for $i from 1 through $items {
  .ball:nth-child(#{$i}),
  .shadow:nth-child(#{$i}) {
    animation-delay: #{$delay * $i}s;
  }
}

@keyframes bounce {
  0% {
    transform: scaleX(1) translateY(-20em);
  }
  97% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.3) translateY(0em);
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1);
    box-shadow: 0px 34px 50px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 34px 4px rgba(0, 0, 0, 0.5);
    transform: scaleX(0.5);
  }
}
