body {
  display: grid;
  place-items: center center;
}

.cica {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

.box {
  width: 5em;
  height: 5em;
}

#box_1 {
  background: #ff502f;
  
}

#box_2 {
  background: #348498;
}
