body {
  height: 100vh;
  display: grid;
  place-items: center center;
  background: linear-gradient(145deg, #c1bfd3, #e5e3fa);
}

.circle {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: linear-gradient(145deg, #e5e3fa, #c1bfd3);
  box-shadow: 5px 5px 10px #bab8cc, -5px -5px 10px #f2f0ff;
  transition: 0.5s;
  opacity: 0.1;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.circle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.clicked {
  box-shadow: 45px 45px 90px #bab8cc, -45px -45px 90px #f2f0ff;
  transform: rotate(-10deg) scale(1.2);
  opacity: 1;
}
