body {
  display: grid;
  place-items: center center;
  height: 60vh;
}

.button {
  position: relative;
  width: 320px;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  letter-spacing: 0.5px;
  height: 108px;
  font-family: "DM Sans", sans-serif;
  background: #c7cdd1;
}

.button:before,
.button:after {
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  line-height: 108px;
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

.button:before {
  content: "yolo";
  font-size: 28px;
  border-radius: 4px 0 0 4px;
  width: 216px;
  color: #fff;
  background: #c7cdd1;
  left: 0;
}

.button:hover.button:before {
  background: #0fae98;
}

.button:after {
  font-family: "Material Icons";
  content: "face";
  font-size: 32px;
  border-radius: 0 4px 4px 0;
  width: 108px;
  background: #0fae98;
  right: 0;
}

.button:hover.button:after {
  width: 320px;
  content: "highlight_off";
  border-radius: 4px;
  font-size: 48px;
  background: #dd4e4e;
  cursor: not-allowed;
  animation: pop 0.2s;
}

.button:active.button:after,
.button:active.button:before {
  background: #c7cdd1;
  color: #dd4e4e;
}

@keyframes pop {
  0% {
    border-radius: 0 4px 4px 0;
  }
  99% {
    border-radius: 20% 0 0 20%;
  }
  100% {
    border-radius: 0 4px 4px 0;
  }
}
